* {
  box-sizing: border-box;
}

.display_block {
  display: block;
}

.display_none {
  display: none;
}

.Header {
  display: block;
  width: 310px;
  text-align: center;
  border: 2px solid #000;
}

.Header--draw {
  background-color: #000;
  color: #fff;
}

.Winner {
  display: none;
  position: absolute;
  width: 320px;
  height: 320px;
  background-color:#000;
  top: 0; 
  left: 0;
  color: #000;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  padding-top: 35%;   
}

.Winner--won {
  display: inline-block;
  color: #fff;
}

.Winner--draw {
  display: inline-block;
  background-color: #000;
  color: #fff;
}

.Container {
  position: relative;
  width: 320px;
}

.Cell {
  display: inline-block;
  font-size: 30px;
  width: 100px;
  height: 100px;
  margin: 2px;
  border: 2px solid #f00;
  border-radius: 10px;
  cursor: pointer;
}

.btn {
  padding: 10px;
  display: block;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  text-transform: uppercase;
  letter-spacing: 20px;
  cursor: pointer;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}

.Reset_btn {
  width: 80%;
  margin: 10px 10%; 
}

.Start_btn {
  width: 300px;
  text-align: left;
  margin: 0;
}

.Start_btn:hover {
  text-align: right;
}

.bg_red {
  background-color: rgb(173, 74, 74)
}

.bg_yellow {
  background-color: rgb(233, 247, 30);
}
